@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

@media screen and (max-aspect-ratio: 1.65/1) {
    #headerImg {
        max-width: 20rem;
        max-height: 20rem;
        width: 60vw;
        height: 60vw;

        background-position: 50% 70%;

        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #headerText {
        width: 80%;
        text-align: center;

        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 1175px) and (min-aspect-ratio: 2/1) {
    #headerText {
        width: 50ch;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

/* Header */

.headerDiv {
    min-height: 100vh;
    min-height: 100dvh;

    background-color: beige; /* replace with a background-image */

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;
}

.headerDiv nav {
    width: 100vw;
    background-color: black;

    position: fixed;
    z-index: 1;
}

.headerDiv nav ul {
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
}

.headerDiv nav ul li {
    padding: 1rem 0.5rem;
}

.headerDiv nav ul li p {
    text-align: center;
    font-size: 1rem;
}

.headerDiv nav ul li p a {
    color: white;
    font-weight: 700;
}

.headerText {
    width: fit-content;
    text-align: left;

    position: absolute;
    top: 35%;
    left: 10%;
}

.headerText h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.headerText > p {
    font-size: 2rem;
}

.headerImgContainer {
    min-width: 100%;
    min-height: 95%;

    position: absolute;
}

.headerImg {
    max-width: 30rem;
    max-height: 30rem;
    width: 60vh;
    height: 60vh;

    border: 2px solid black;
    border-radius: 50%;

    background-image: url(Images/Main_pic.jpg);
    background-position: 50% 70%;

    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
}

/* Ivy League Trip Section */

.section1NavSpace {
    height: 3rem;
    width: 10vw;
    position: absolute;
    top: calc(100vh - 3rem);
}

.section1Div {
    height: 105vh;

    background-color: burlywood; /* change later to a better color */

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;

    position: relative;
}

.section1ImgP {
    width: 50%;
    height: 40%;
}

.section1ImgP img {
    width: 100%; /*change this whole thing later */
    height: 80%;
}

.section1ImgP p {
    text-align: center;
    padding-top: 1rem;
}

.section1Text {
    height: 50%;
}

.section1Text h2 {
    font-size: 2rem;
}

.section1Text p {
    font-size: 1.5rem;
}

.section1Text p, .section1Text h2 {
    text-align: center;
    
    padding: 2rem 3rem;
    max-width: 75ch;
}

/* Fundraiser Section */

.section2NavSpace {
    height: 3rem;
    width: 10vw;
    position: absolute;
    top: calc(105vh - 3rem);
}

.section2Div {
    height: 105vh;

    background-color: aquamarine; /* change later to a better color */

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.section2ImgP {
    width: 50%;
    height: 40%;
}

.section2ImgP img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: 80%;
    object-fit: contain;
}

.section2ImgP p {
    text-align: center;
    padding-top: 1rem;
}

.section2ImgP a {
    color: purple;
}

.section2Text {
    height: 50%;
}

.section2Text h2 {
    font-size: 2rem;
}

.section2Text p {
    font-size: 1.5rem;
}

.section2Text p, .section2Text h2 {
    text-align: center;
    
    padding: 2rem 3rem;
    max-width: 75ch;
}

/* Footer */

.footerDiv {
    background-color: black;
}

.footerDiv p {
    color: white;
    font-size: 0.85rem;

    text-align: center;
    padding: 1.5rem 3rem;

}